.card{
  text-align: center;
}
.card>i{
font-size: 3.3rem;
color: #e60023;
}
.input{
  border: 2px solid gainsboro;
border-radius: 10px;
padding: 10px;
font-size: medium;
color: silver;
margin-top: 5px;
}
label{
  position:relative;
}
input+i{
    position: absolute;
  top: 45px;
  right: 20px;
  font-size: smaller;
  opacity: 0.8;
}
form a{
  color: #1877f2;
font-size: small;
font-weight: bold;
}

form button{
  border: none;
padding: 10px;
min-width: 200px;
border-radius: 16px;
color: white;
font-weight: bold;
font-size: smaller;
}

form p{
  margin: .1px;
  text-align:center;
}
.card>p{
  color: #8b8b8b;
font-size: 0.8rem;
font-weight: normal;
text-align: center;
padding: 3px 49px;
line-height: 1.2;
}

.card hr{
  width: 50%;
color: gainsboro;
}
